*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%
}

.app-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: coral;
    width: 70%;
}

.search-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-location-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.map-container{
    width: 100%;
    display: flex;
    margin: 5px;
    padding: 20px;
   
}

#map{
    margin-left: 20px;
}

.locations-container{
  width: 40%;
}

.weather-container{
    border: 1px solid rgb(83, 9, 219);
    height: 50%;
}

.locations-table{

    border: 1px solid rgb(227, 8, 8);
    height: 50%;
}